
<p>Vous avez demandé à changer votre mot de passe.</p>
<p>Cliquez sur le lien ci-dessous pour réinitialiser votre mot de passe.</p>
<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce message a été envoyé depuis une adresse ne gérant que les envois. Veuillez ne
    pas répondre à ce message.</p>

