#footerText {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 50px 50px 210px;
}

.footerLeft li {
    margin-left: 60px;
    margin-right: 190px;
}
.footerRight li {
    margin-left: 60px;
    margin-right: 190px;
}

.footerText {
    color: white;
    list-style:	none;
    margin-bottom: 15px;
}

.contact {
    color: #85A9D8;
    list-style: none;
}

.footerLeft {
    float: left;
}

.footerRight {
    float: right;
}

@media only screen and (max-width: 1000px) {
    .footerLeft li {
        margin-left: 0;
        margin-right: 0;
    }
    .footerRight li {
        margin-left: 0;
        margin-right: 0;
    }
}