#footerText {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 50px;
    padding-bottom: 210px;
}

li {
    margin-left: 60px;
    margin-right: 190px;
}

.footerText {
    color: white;
    list-style:	none;
    margin-bottom: 15px;
}

.contact {
    color: #85A9D8;
    list-style: none;
}

.footerLeft {
    float: left;
}

.footerRight {
    float: right;
}