
:root {
    --dark: #9f5540;
    --light: #ffffff;
}

a {
    text-decoration: none;
}

header {
    background-color: var(--dark);
    padding: 45px 10%;
    color: var(--dark);
}

header #logo {
    background-color: white;
    padding: 15px 65px;
}

header a {
    color: var(--light);
    font-size: 25px;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked + .nav-links {
    display: block;
}

header .nav-links {
    display: none;
}

header label {
    cursor: pointer;
    position: relative;
}

.toggle-icon {
    width: 30px;
}
.toggle-icon div {
    height: 3px;
    background: var(--light);
    margin: 3px 0;
}

#nav-head {
    display: flex;
    justify-content: space-between;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    padding: 20px 0;
}

.nav-links li a {
    color: white;
    text-decoration: none;
}

.nav-links li:nth-child(1) {
    padding-top: 40px;
}

@media only screen and (min-width: 1280px) {
    .toggle-icon {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
    }

    header #logo {
        padding-bottom: 10px;
    }

    .nav-links li {
        display: inline-block;
        padding: 0 20px;
    }

    .nav-links li:nth-child(1) {
        padding-top: 0;
    }

    /* Following enables visibility of nav-links irrespective of check status */
    #menu-toggle:not(:checked) + .nav-links {
        display: block;
    }
}
