#idMenuNav {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #AF593D;
}

#idMenuNav nav {
    margin: 10px 100px;
}

#linkHome {
    color: #AF593D;
    font-size: 12px;
    margin-right: 15px;
    background-color: white;
    padding: 18px 70px;
}

.linkNav {
    margin-right: 17px;
    margin-left: 17px;
    color: white;
    font-size: 23px;
}

.linkNav i {
    margin-right: 10px;
    color: #CBCBCB;
}

.linkNav:hover{
    color:white
}