#listeLocataire {
    margin-top: 50px;
    margin-bottom: 300px;
    width: 100%;
    padding-left: 10%;
    padding-right: 25%;
}

#headerLocataire {
    display: flex;
    margin-bottom: 40px;
}

#headerLocataire a {
    border-radius: 10px;
    padding: 7px 35px;
}

#headerLocataire h3 {
    margin-right: 30px;
}

#ajoutLocataire {
    margin-top:50px;
    margin-bottom: 300px;
}

#modifLocataire {
    margin-top: 50px;
    margin-bottom: 300px;
}

#modifLocataire h3 {
    margin-right: 30px;
}

#modifLocataire #headerModifLocataire {
    display: flex;
    margin-bottom: 60px;
}

#modifLocataireName {
    margin-bottom: 40px;
}