h3{
	color: #AF593D;
}

.locataires{
	margin-top: 5%;
}

#insert-locataires{
	margin-left: 2.5%;
	width: 215px;
}

.show-locataires{
	padding-top: 50px;
}

.title-brown{
	color: #AF593D;
}

tr{
	border-bottom: 1px solid black;
}



.upLocataires, .upMandataire, .upBien{
	margin-top: 2.5%;
	padding-left: 25% ;
}

.affichLocataires, .affichMandataire, .affichBien{
	margin-left: 25% ;
	margin-bottom: 2.5%;
}

.titleL{
	margin-left: 14%;
	margin-top: 2.5%;
}