

<p>Bonjour {{ username }}, une nouvelle étape est disponible.</p>

<p>
    Veuillez y accéder en cliquant sur le lien ci-dessous: <br><br>
    <a href="{{ path('show_location', {id: id})}}">Location</a>.
    <br>
    Le lien va expiré dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>
