{% extends 'base.html.twig' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-xs-12">
                <h2 class="title-brown">
                    hdeihdei
                </h2>
            </div>

            <div class="col-md-6 col-lg-6 col-xs-12">
                <h2 class="title-brown">
                    Mes locations
                </h2>

                <table class="affichLocation">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Date entrée</th>
                            <th>Date sortie</th>
                            <th>Locataire</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    {% for rent in rent %}
                        <tbody>
                            <tr>
                                <td>{{ rent.id }}</td>
                                <td>{{ rent.name }}</td>
                                <td>{{ rent.firstname }}</td>
                                <td>Gilbert</td>
                                <td><a type="button" class="btn btn-secondary" href="">Accéder</a></td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>

            </div>
        </div>
    </div>


{% endblock %}