{% extends 'base.html.twig' %}

{% block body %}
    <div id="footerText">
        <div>
            <div class="footerLeft">
                <ul>
                    <li class="footerText">Gestion locative</li>
                    <li class="footerText">Contact téléphone : 06 06 06 06 06</li>
                    <li class="contact">Contact email : contact@gestionlocative.fr</li>
                </ul>
            </div>
            <div class="footerRight">
                <ul>
                    <li class="footerText">Version 1.0</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}