{% extends 'base.html.twig' %}

{% block body %}
    <div id="idMenuNav">
        <nav class="navbar">
            <ul>
                <a id="linkHome">LOGO</a>

                <!--LIENS-->

                <a class="linkNav" href="">ACCUEIL</a>
                <a class="linkNav" href="">BIENS</a>
                <a class="linkNav" href="">LOCATAIRES</a>
                <a class="linkNav" href="">MANDATAIRES</a>
            </ul>
            <ul>
                <a class="linkNav" href=""><i class="fas fa-user-circle"></i>MON PROFIL</a>
            </ul>
        </nav>
    </div>
{% endblock %}