<header>
    <div id="nav-head">
        <div id="logo">Webster Inc.</div>
        <label for="menu-toggle">
            <div class="toggle-icon">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </label>
    </div>
    <input type="checkbox" id="menu-toggle">
    <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</header>