{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}


{% block content %}
    <div class="container" id="login">
        {% if error %}
            <div>Identifiant ou mot de passe invalide !</div>
        {% endif %}
        <div>
            <div>
                <h2>Connectez-vous</h2>
                <form action="{{ path('login') }}" method="post">
                    <div class="form-group">
                        <label for="username">Email</label>
                        <div>
                            <input type="email" class="form-control" id="username" name="_username" value="{{ last_username }}"/>
                        </div>
                        <label for="password">Mot de passe</label>
                        <div>
                            <input type="password" class="form-control" id="password" name="_password"/>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-success" type="submit">Connexion</button>
                        <a href="{{ path('app_forgot_password_request')}}">Mot de passe oublié ?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}