{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}


{% block content %}
    <div class="container">
        {% if error %}
            <div>Identifiant ou mot de passe invalide !</div>
        {% endif %}
        <div class="row" >
            <div>
                <form action="{{ path('login') }}" method="post">
                    <div class="mb-3">
                        <label for="username">Email</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}"/>
                    </div>
                    <div class="mb-3">
                        <label for="password">Mot de passe</label>
                        <input type="password" id="password" name="_password"/>
                    </div>
                    <button class="btn btn-success" type="submit">login</button>
                    <br>
                    <a href="{{ path('app_forgot_password_request')}}">Mot de passe oublié</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}